# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
titanium
titanium-*

# Build output
/dist/

# Go
*.test
*.out
vendor/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Titanium runtime
.titanium/